
:root {
    --backgroundColour: #f6f6f6;
    --primaryColour: #412884;
    --complementaryColour1: #322871;
    --complementaryColour2: #262756;
    --complementaryTypology: #12282f;
    --complementaryExtra: #73ba60;
}

#logo {
    height: 9vh;
}

#loginBody {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #12282f;
}

#homeBody {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex;
    align-items: center;
    background-color: var(--primaryColour);
}

#finance {
    z-index: -1;
    position: absolute;
    margin-right: auto;
    height: 100vh;
    width: 50vw;
}

#login-box {
    z-index: 1;
    display: flex;
    margin-top: 40vh;
    margin-left: auto;
}

.barra-de-busca {
    display: flex;
    align-items: right;
    margin-left: auto;
    background-color: var(--complementaryColour1);
    border-radius: 20px;
    padding: 5px 10px;
    width: 45vw;
    height: 80%;
}

.barra-de-busca input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    padding-right: 5px;
}

::placeholder {
    color: var(--backgroundColour);
    opacity: 1;
}

.barra-de-busca .icone-de-busca {
    margin-left: 8px;
    color: var(--backgroundColour);
}

.icone-menu {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 24px;
    color: var(--backgroundColour);
    cursor: pointer;
}

footer {
    width: 100vw;
    height: 9vh;
    margin-top: auto;
    background-color: var(--complementaryColour2);
}